body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url("https://images.unsplash.com/photo-1592487501226-7ed5e5dc80f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); */
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2.5% 0;
  justify-content: center;
  border: 3px solid aqua;
  /* padding: 24px; */
  width: 100vw;
  height: 100vh;
}

.container h1 {
  color: hotpink;
  font-size: 6vh;
  width: 100%;
  text-align: center;
  /* margin: 44px; */
}

.btt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 8px; */
  /* margin: 44px; */
}

#play-btn {
  padding: 10px 30px;
}

#reset-btn {
  opacity: 0;
}

.intro button {
  padding: 5px 15px;
  min-width: 10%;
  text-align: center;
  color: hotpink;
  border: 2px solid hotpink;
  border-radius: 33px;
  font-size: small;
}

.country-card {
  border: 3px solid black;
  width: 100%;
  margin: 12px 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

#country-snippet {
  /* margin: 3%; */
}

.content {
  border: 4px solid red;
  width: 100%;
  opacity: 0;
}

.intro {
  border: 5px solid slateblue;
  /* margin-top: 19vh; */
  margin-bottom: 4%;
}

.scores {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity: 0;
}

.score {
  width: fit-content;
  margin: 12px;
  text-align: center;
  color: hotpink;
  border: 2px solid hotpink;
  border-radius: 33px;
  font-size: small;
  padding: 5px 15px;
  min-width: 10%;
  background-color: #efefef;
}

.results {
  opacity: 0;
  text-align: center;
}

.incorrect-guesses {
  opacity: 0;
}

.incorrect-guesses ul {
  padding-left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap-reverse;
  margin: 0;
}

li {
  display: inline;
  text-decoration: line-through;
  padding: 0 120px;
  /* opacity: 0; */
}

.guess-box {
  text-align: center;
  opacity: 0;
}

#country-snippet2 {
  opacity: 0;
}

#country-snippet3 {
  opacity: 0;
}

#country-snippet4 {
  opacity: 0;
}

#country-snippet5 {
  opacity: 0;
}

.accordion {
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}

.accordion-label,
.accordion-content {
  padding: 14px 20px;
}

.accordion-label {
  display: block;
  color: hotpink;
  font-size: 1.8em;
  cursor: pointer;
  position: relative;
  transition: background-color 0.1s;
  padding-left: 6px;
  text-align: center;
  margin: 44px;
}

.accordion-label:hover {
  background-color: rgba(0, 0, 0, 0.18);
}

.accordion-content {
  background: white;
  line-height: 1.6;
  font-size: 1.4em;
  display: none;
}

.accordion-input {
  display: none;
}

.accordion-input:checked ~ .accordion-content {
  display: block;
}

.accordion-content ul {
  margin-top: -40px;
  text-align: center;
  list-style: none;
}
