body {
 sans-serif;
  color: #555;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1535483102974-fa1e64d0ca86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  transition: opacity 2s, transform 2s;
}

.container {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* padding: 2.5% 0; */
  justify-content: center;
  /* border: 3px solid aqua; */
  /* padding: 24px; */
  width: fit-content;
  height: 80vh;
}

.container h1 {
  color: hotpink;
  font-size: calc(36px + 0.390625vw);
  width: 100%;
  text-align: center;
  margin: 5% 0 7% 0;
  /* margin: 44px; */
  font-weight: bolder;
}

.btt {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 12px 2px 6px 2px;
  /* margin: 44px; */
}

#play-btn {
  padding: 6px 25px;
}

#reset-btn {
  opacity: 1;
  padding: 6px 25px;
}

.intro button {
  padding: 6px 25px;
  min-width: 10%;
  text-align: center;
  color: hotpink;
  border: 2px solid hotpink;
  border-radius: 33px;
  font-size: calc(14px + 0.390625vw);
  font-weight: 600;
}

.intro button:hover {
  color: white;
  border: 2px solid white;
  background-color: hotpink;
}

.country-card {
  /* border: 3px solid black; */
  width: 100%;
  height: fit-content;
  margin: 12px 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: white;
}

#country-snippet {
  margin: 3%;
}

.content {
  /* border: 4px solid hotpink; */
  width: auto;
  /* max-width: 600px; */
  opacity: 0;
  background-color: rgba(30, 11, 204, 0.872);
  border-radius: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  /* border: 5px solid slateblue; */
  /* margin-top: 19vh; */
  width: auto;
  margin-bottom: 4%;
  padding: 2%;
  background-color: rgba(30, 11, 204, 0.872);
  border-radius: 8px;
}

/* .card {
  border: 10px solid yellowgreen;
} */

.content button {
  padding: 5px 20px;
  min-width: 8%;
  text-align: center;
  color: hotpink;
  border: 2px solid hotpink;
  border-radius: 33px;
  font-size: small;
  font-weight: 600;
  margin: 12px 6px;
}

input {
  /* display: flex;
  justify-content: space-between; */
  border-radius: 18px;
  border: none;
  margin: 4px;
  /* text-align: center; */
  padding-left: 12px;
}

.scores {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity: 0;
}

.score {
  width: fit-content;
  margin: 12px;
  text-align: center;
  color: hotpink;
  border: 2px solid hotpink;
  border-radius: 33px;
  font-size: small;
  padding: 5px 15px;
  min-width: 10%;
  background-color: #efefef;
}

.results {
  opacity: 0;
  background-color: #efefef;
  /* margin: 2% 0; */
  /* transition: opacity 1s, transform 2s; */
  padding: 5px 20px;
  width: fit-content;
  text-align: center;
  color: hotpink;
  border-radius: 33px;
  font-size: calc(18px + 0.390625vw);
  font-weight: 600;
  margin: 12px 6px;
}

.incorrect-guesses {
  opacity: 0;
  color: white;
  text-align: center;
  margin: 4% 0;
  font-size: calc(12px + 0.390625vw);
  background-color: rgba(255, 255, 255, 0.432);
  border-radius: 33px;
  padding: 2px 12px;
  /* background-color: yellow; */
}

.incorrect-guesses ul {
  padding-left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap-reverse;
  margin: 0;
}

li {
  /* display: inline; */
  /* text-decoration: line-through; */
  padding: 0 120px;
  /* opacity: 0; */
}

.guess-box {
  text-align: center;
  opacity: 0;
  border-radius: 12px;
  margin: 2% 0;
}

#country-snippet2,
#country-snippet3,
#country-snippet4,
#country-snippet5 {
  opacity: 0;
  margin: 1% 0;
  transition: opacity 2s, transform 4s;
}

#wrong-guesses {
  transition: opacity 2s, transform 4s;
}

@media only screen and (max-width: 325px) {

   #rules-btn, #play-btn, #reset-btn {
      padding: 5px 15px;
   }

   .container h1 {
    font-size: 1.8em;
   }

   .guess-box {
    margin: 9% 3% 0 3%;
   }

}
